// MIXINS
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

// Fonts
$pf-primary-font: 'Karla', sans-serif;
$pf-secondary-font: 'Roboto', sans-serif;

// Colors
$pf-primary-color: #000;
$pf-secondary-color: #fff;

// Scrollbar
$pf-scrollbar-track-bg: #f1f1f1;
$pf-scrollbar-thumb-bg: #b6b6b6;
$pf-scrollbar-thumb-hover-bg: #555;

// Navbar
$pf-navbar-background-color: $pf-secondary-color;
$pf-sub-nav-link-color: #949494;
