@import "variables";

@import "scrollbar";
@import "navbar";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $pf-primary-font;
  height: 100vh;
  transition: all 0.4s;
}

.content {
  height: 100vh;

  display: flex;
  flex-direction: row;

  padding-top: 6.0rem;
  padding-left: 4.0rem;
}

main {
  display: flex;
  justify-content: center;

  flex-grow: 1;
}
